<% include ../views/partials/header %> 

<h1>Hellos</h1>

<p>Paragraph text</p>

<h1>Search for the current weather</h1>

<form action="/results" method="GET">
    <input type="text" placeholder="search term" name="search">
    <input type="submit">
</form>

<a href="/home">Weather</a>


<% include ../views/partials/footer %> 
